* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#topo-loja{
    background-color: #8a2be2;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#bt_menu, #label-menu{
    display: nome;
}

#menu ul{
    list-style: none;
    margin-top: 10px;
}

#menu li{
    display: inline-block;
    margin: 0 10px;
}

#menu a{
    color: #7fff00;
    text-decoration: none;
    font-weight: bold;
}

.titulo-secao{
    text-align: center;
    margin-top: 40px;
    color: #d2691e;
}


.vitrine-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
}


.card{
    border: 1px solid;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.preco{
    display: block;
    color: #00ff1e;
    font-weight: bold;
    margin: 10px 0;
}

.bt_pedido{
    background: #8a2be2;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#rodape{
    background-color: aqua;
    color: rgb(0, 0, 0);
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

/* MEDIAS */

@media screen{
    #topo-loja h1{
        letter-spacing: 2px;
    }
}

@media (max-width: 480px){
    h1{
        font-size: 1.2rem;
    }
}



/* tela tablet */

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .vitrine-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

/* celulalas */

@media screen and (max-width:600px), (orientation: portrait){
    /*menu/hamburger/responsivo/retratil*/
    #label-menu {
    display: block;
    font-size: 2.5rem;
    color: #2f4f4f;
    cursor: pointer;
    margin-top: 10px;
    }

    #bt_menu:checked ~ #menu ul{
        display: block;
        padding: 10px 0;
    }

    .vitrine-grid{
        grid-template-columns: 1fr;
    }

    .desc{
        display: none;
    }

    #menu li{
        display: block;
        margin: 15px 0;
        border-bottom: 1px solid #9acd32;
        padding-bottom: 10px;
    }


}

@media not screen{
    #menu, .bt_pedido, #label-menu, #bt_menu{
        display: none;
    }
}

