* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }

#cabecalho-eco {
    background-color: #1a641f;
    color: white;
    padding: 20px;
    text-align: center;
}

.link-nav {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px;
    border-radius: 4px;
}


.link-nav:focus, .btn-leitura:focus {
    outline: 4px solid #e7bd14;
    outline-offset: 2px;
}

.card-noticia {
    width: 320px;
    border: 2px solid #2b722f;
    padding: 15px;
    margin: 20px auto;
}

.card-noticia img {
    max-width: 100%;
    height: auto;
}

.card-noticia h2 { color: #18531c; margin: 10px 0; }

.card-noticia p {
    color: #333; 
    line-height: 1.6;
    margin-bottom: 15px;
}

.btn-leitura {
    background-color: #1a561e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}